# cache for memory agent
/model/MemoryOS/eval/mem_tmp_loco_final
/model/MemoryOS/eval/mem_tmp_longmemeval_s
/model/MemGAS/data/*/**
/model/Nemori/chroma_db
# data and log
/results
/dataset
/temp_log
# scripts
/begin.sh
/begin2.sh
# pycache
__pycache__/